env:
  matrix:
    # Do not change this order
    - DOCS="true"
    - WEBSITE="true"
  global:
    secure: "pVmEvYDBbfHtxKV53LDVt/BC1uav/dguOxA/pC+KCfzvuSlsLTvAysEctFIOzcSveKgKkoaTxfJJH/HMYFyGs+/Nak87DGf3B8S34CcWIpc735Dxtts5HffTyPoSbsZ+St+hARF0ZaKphjsXhua4Z05tfGmoqBrKENwsNfZBBgLWLnoSXHbgJUf2guae8DPPsaV7l8h0KMWPDaoZJiFvWIFaZ6De/oCo3arRRyWyzYVueCYc3/2toXAZPO2twkH6ERpuIRK/m8PR65ZBU+G4/oVpIns8ROYyMF6dEY6RtB6L8b/OMEbOM4D7Pt0kuz3exPnetIFWKMpoyOuXl4AycAp0BXltD6WZ/jhIssfZmGrNGrMFmEhjxROh1ORmxXLvKosPMGd50qn2jgaWkiLLFclvIQQsGPAcZWfDQrIEoVISmOlYF5Nv8IQ+yHWBHEvQzSvNICYbVbZc04HeW2B0XOpPjiD0bQ3UDoaFqqoC04xE0noyIitgoSxG1is6od9Un28GvflA1ToPhuLVaEUPUbc+GZkbaF3RGKX4lS8Vvk4zw8cI41QD/DQZ/7pxzsDn7zIoinHYwhkwZfjBMXDwpK6A7W0Bjf9XDMrjrc+Cd+exomxGmLtrHMaDlazJFoKQasXm7nCGfT8nl+tlkLEHM88wat5yhNBAc6G4Q5LTG48="

before_install:
  - wget http://repo.continuum.io/miniconda/Miniconda3-latest-Linux-x86_64.sh -O ~/miniconda.sh;
  - bash ~/miniconda.sh -b -p $HOME/miniconda
  - export PATH="$HOME/miniconda/bin:$PATH"
  - hash -r
  - conda config --set always_yes yes --set changeps1 no --set show_channel_urls yes
  - conda config --add channels asmeurer
  - conda config --add channels conda-forge
  - conda update -q conda
  - conda info -a

  - if [[ "${DOCS}" = "true" ]]; then
      conda install conda-build=1.21.11 pycrypto;
      conda create -q -n build-environment -c asmeurer conda-docs-deps doctr;
      cd docs;
    fi
  - if [[ "${WEBSITE}" = "true" ]]; then
      conda create -q -n build-environment -c asmeurer sphinxjp.themes.basicstrap cloud_sptheme doctr;
      cd web;
    fi
  - source activate build-environment

script:
  - set -e # Fail if any of the below errors
  - make html-errors
  - cd ..
  - if [[ "${DOCS}" = "true" ]]; then
      doctr deploy --built-docs docs --gh-pages-docs docs --no-require-master;
    fi
  - if [[ "${WEBSITE}" = "true" ]]; then
      doctr deploy --built-docs web --gh-pages-docs . --no-require-master;
    fi
notifications:
  flowdock: ef3821a08a791106512ccfc04c92eccb

sudo: false
